.background{
    background-image: url('assets/bg@2x.png');
    min-height: 550px;
    /* max-height: 5000px;
    min-width: 1000px;
    max-width: 5000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; */
}

.logo{
    background-image: url('assets/full_logo.png');
    height: 100px;
    width: 250px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.white-font{
    font-family: 'Tajawal';
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.black-font{
    font-family: 'Tajawal';
    color: black;
    font-weight: 600;
    font-size: 24px;
}